body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(360deg, white, #2eb3b4);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* .card {
  margin: 2px;
  border: #fba63b solid 0.3px;
  box-shadow: none;
  justify-content: center;
  width: 225px;
  height: 285px;
} */

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* .all-view-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
} */

/* .content {
  flex: 1;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
} */

/* .box {
  display: flex;
  flex: 1; */
/* flex-wrap: wrap; */
/* justify-content: space-around;
  min-height: min-content;
} */

.single-view-image {
  padding: 25px;
  width: 50vw;
  height: 40vw;
}

.single-view-span {
  font-size: 24px;
}

.single-view-button {
  width: 150px;
  height: 60px;
  padding-left: 35px;
}

.Overlay {
  display: block;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 90vw;
  height: 45vw;
  background-color: white;
}

.allProductImg {
  height: 0px;
  padding-top: 56.25%;
}

.all-view-cart {
  max-width: 50px;
  min-height: 50px;
  display: flex;
  justify-items: right;
}

.buttonAdminProducts {
  font-size: 10px;
}

.adminWelcome {
  font-size: 50px;
  justify-content: center;
  margin-left: 100px;
  display: flex;
}

.fullstackPic {
  width: 20%;
  height: 20%;
  justify-content: center;
  margin-left: 43%;
  display: flex;
}
